.section{
  z-index: 999;
  background-color: white;
  

    .service {
      background: var(--clr-primary-7);
      width: 100%;
      text-align: center;
      padding: 2rem 1.5rem;
      border-radius: var(--radius);
      background: #fce7e7b4;
      p {
        color: var(--clr-primary-2);
      }
    }
    span {
      width: 4rem;
      height: 4rem;
      display: grid;
      margin: 0 auto;
      place-items: center;
      margin-bottom: 1rem;
      border-radius: 50%;
      background: var(--clr-primary-10);
      color: #800020;
      svg {
        font-size: 2rem;
      }
    }

    @media (min-width: 992px) {
      .service{
        width: 25%;
        padding: 2rem 1.5rem;
      }
    }
    @media (min-width: 576px) {
      .service{
        width: 25%;
        padding: 2rem 1.5rem;
      }
    }
    @media screen and (min-width: 640px)  {
      .service{
        width: 30%;
      }
    }
    @media (min-width: 1280px) {
      padding: 0;
      .service{
        width: 25%;
        padding: 2rem 1.5rem;
      }
    }

}
