#section_features {


    .backsplash_container {
      position: relative;
      margin-bottom: 1em;
    }

    .backsplash {
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      height: 200px;
      background: #800020;
      background: linear-gradient(90deg, #800020 0%, #b44c63 100%);
      border-radius: 20px;
    }
  
    .backsplash_image {
      position: relative;
    }
  }


