#section_use_cases{
    min-height: 50vh;
    width: 100%;
}

#section_features {
    min-height: 100vh;
    width: 100%;
  
    .backsplash_container {
      position: relative;
      margin-bottom: 1.5em;
    }
  
    .backsplash {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      height: 200px;
      background: rgb(33,95,74);
      background: linear-gradient(90deg, rgba(33,95,74,1) 0%, rgba(31,133,99,1) 100%);
      border-radius: 20px;
    }
  
    .backsplash_image {
      position: relative;
    }
  }
  