.use_case_card {
    // position: relative;
    z-index: 3;
    border-radius: 20px;
    background-color: #F5F5F5;
  }

//   #section_use_cases{
//     min-height: 50vh;
//     width: 100%;
// }
// #f8dadab4